@page
@model DresstoImpress.Pages.WeatherByTypeCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WeatherByType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherByType.WeatherType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeatherByType.WeatherType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WeatherByType.WeatherID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
