@page
@using DresstoImpressAPI2.Entities
@model DresstoImpress.Pages.CartModel
@{
   
}
<!-- By Emily Mago -->
<form id="priceForm">
    <input type="number" id="clothingId" name="clothingId" placeholder="Enter Clothing ID" required />
    <button type="button" id="submitBtn">Get Price</button> 
</form>

<script>
    document.getElementById('submitBtn').addEventListener('click', function () {
        const clothingId = document.getElementById('clothingId').value;
        const pricePageUrl = `/Price?clothingId=${clothingId}`;
        window.location.href = pricePageUrl; 
    });
</script>
