@page

@using DresstoImpressAPI2.Entities;
@using Microsoft.AspNetCore.Mvc;
@using System.ComponentModel.DataAnnotations;
@model DresstoImpress.Pages.OutfitResultsModel
@{
    
    var UserId = HttpContext.Request.Query["UserId"];
    var userOccupation = HttpContext.Request.Query["userOccupation"];
    var ClothingID = HttpContext.Request.Query["ClothingID"];
    var clothingSeason = HttpContext.Request.Query["clothingSeason"];

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="header">
        <h1>Find Your Next Favorite Look</h1>
    </div>

        <div class="row">
            <div class="columnForOR">
                <h2>Check Out All Outfits for All Seasons!</h2>
                <button onclick="window.location.href='AllClothing'">All Picks!</button>
            </div>



        <hr class="solid">

    <div class="column2ForOR">
        <h2>Your Outfits for the Week</h2>
        <p>Outfits based on this seasons weather!</p>
        <button onclick="displayRandomImage()">Find Your Next Favorite!</button>
        <img id="randomImage" src="" alt="Outfit Image">
    </div>
   

    <script>
        function displayRandomImage() {
            var imageFilenames = [
                'WOFeb61.jpg',
                'WOFeb62.jpg',
                'WOFeb63.jpg',
                'Spring1.jpg',
                'Spring2.jpg',
                'Spring3.jpg',
                'Spring4.jpg'
            ];
            var randomIndex = Math.floor(Math.random() * imageFilenames.length);

            var imageElement = document.getElementById('randomImage');

            imageElement.src = imageFilenames[randomIndex];
        }
    </script>
    <div class="column2ForOR">
        <h2>See User Occupations</h2>
        <p>Our Users have a vast array of jobs! See how your work life and weather align!</p>
        
        <form id="UserOccupationForm" action="/OutfitResults">
            <input type="number" id="UserId" label="UserID" />
            <input type="button" id="submitBtn" value="Find User Occupations" onclick="GetUserOccupation(document.getElementById('UserId').value)" class="button" />
        </form>
        <div id="results"></div>
        <script type="module">GetUserOccupation()</script>
        <div id="userOccupation"></div>
        <div id="OutfitResults"></div>
        <div class="row">
            <div class="column">
                    <script type=“module”>
                        GetUserOccupation(‘@UserId’);
                    </script>
            </div>
        </div>
            <h2>View Clothing Season</h2>
            <p>Check and see the season assigned to your piece of clothing.</p>
            <form id="ClothingSeasonForm" action="/OutfitResults">
                <input type="number" id="ClothingID" label="ClothingID" />
                <input type="button" id="submitBtn" value="Find Clothing Season" onclick="GetClothingSeason(document.getElementById('ClothingID').value)" class="button" />
            </form>
            <div id="results"></div>
            <script type="module">GetClothingSeason()</script>
            <div id="clothingSeason"></div>
            <div id="OutfitResults"></div>

        </div>
            </body>
            </html>
    

